.catalogo {
    display: flex;
    flex-wrap: wrap; // para que los elementos se acomoden en varias filas
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.catalogo .catalogo-titulo {
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: #527dcc;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}
.total{
    //ajustar en la parte inferior
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: #527dcc;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

// medidas para tablet
@media screen and (min-width: 40em) {
    .catalogo {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
    }
}

// medidas para movil
@media screen and (max-width: 40em) {
    .catalogo {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
    }
}