<div class="catalogo">
    <h1 class="catalogo-titulo">
      Catalogo de Productos - Agregados: {{cart.length}}
      <p class="fecha">Today: {{ today  | date:'short' }}</p> <!-- timeAgo es un PIPE que creamos-->
      <button class="btn-create" (click)="createNewProduct()">X</button>
    </h1>

    <app-product *ngFor="let p of products" [product]="p" (addedProduct)="addToCart($event)" (showDetailProduct)="onShowDetail($event)"></app-product>

    <p class="total">Total  COP: {{total}}$</p>
</div>

<div class="product-detail" [ngClass]="{'active':detailState}">
  <div class="contenido">

    <h1 class="detail-titulo">
      <p> Detalle del Producto </p>
      <button class="btn-close" (click)="closeDetail()">X</button>
    </h1>

    <div class="producto">
      <!-- <img class="img-producto" [src]="product.image" alt="" width="200"> -->
      <!-- <app-img *ngFor="let image of productDetail.images" [img]="image"></app-img> -->

      <!-- Slider main container -->
      <swiper class="swiper" [slidesPerView]="1">
        <!-- Additional required wrapper -->
        <ng-template swiperSlide *ngFor="let image of productDetail.images">
          <img class="swiper-image" [src]="image" alt="image">
          <!-- <app-img [img]="image"></app-img> -->
        </ng-template>
      </swiper>

      <h2 class="precio-producto text-center">Precio: {{productDetail.price | currency:'COP'}}</h2>
      <p class="nombre-producto text-center">Nombre: {{productDetail.title}}</p>
      <p class="descripcion-producto text-center">Descripcion: {{productDetail.description}}</p>

    </div>
  </div>
</div>