<!-- Todos lso visto en el curso -->
<!-- <app-recap></app-recap> -->

<!--Componente de Formulario de registro-->
<!-- <div class="main-page">
  <app-register></app-register>
</div> -->

<!--Componente img-->
<!-- <app-img></app-img>
<app-img valor="este valor vienen desde el padre"></app-img>

<hr>
<input type="text" [(ngModel)]="title"/>
<app-img [valor]="title"></app-img>

<hr>
<input type="text" [(ngModel)]="imgParent"/>
<app-img *ngIf="showImg" [img]="imgParent" (imgLoadedEvent)="onLoaded($event)"></app-img>
<button (click)="toggleImg()">Toggle</button> -->

<!-- <hr>
<h1>Utilizando Output e Input</h1>
<app-product [product]="products[0]"></app-product>
<hr>
<app-product *ngFor="let p of products" [product]="p"></app-product> -->

<app-login></app-login>

<!--BARRA DE NAVEGACION-->
<!-- <app-nav></app-nav> -->

<!--LLAMAR AL COMPONENTE DE CATALOGO DE PRODUCTOS-->
<!-- <app-products></app-products> -->