/* {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1681570854374-31a65ee81065?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1033&q=80");
  background-size: cover;
  background-repeat: none;

  display: grid;
  place-items: center;

  //centrar el contenido de la pagina
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}*/