<h1> Hola mundo </h1>
<h2>{{ 'Hola Mundo  '.repeat(5) }}</h2>
<p> 3+3 = {{ 3+3 }}</p>
<p> Hola soy {{ name }} y tengo {{age}} años. Estas están declaras como Public en
  el archivo app.component.ts
</p>

<!--IMAGEN desde component.ts (string interpolation) -->
<img src="{{ image }}" alt="image" width="200">

<!--Property Binding: configurar propiedades de HTML-->
<hr><br>
<h1> Property Binding </h1>
<button disabled="false">Boton</button>
<button [disabled]="btnDisabled">Boton 2</button>
<br>
<input type="text" [value]="name"> <!--Property Binding de la variable name-->
<br>
<progress value="80" max="100"></progress>
<progress [value]="age" max="100"></progress>
<br>
<img [src]="image" alt="image" width="200">
    <!--Renderizar un objeto desde component.ts-->
    <hr><br>
    <p>Hola soy {{person.name}} </p>
    <input type="text" [value]="person.name">

<!--Event Binding-->
<hr><br>
<h1> Event Binding </h1>
<button (click)="toggleButton()">Toggle</button>
<button [disabled]="btnDisabled">Boton 2</button>
<br>
<p>Edad {{person.age}}</p> <br>
<progress [value]="person.age" max="100"></progress>
<button (click)="cumpleanhos()">Cumpleaños</button>

<!--Event Binding: otros eventos-->
<hr><br>
<h1> Event Binding: otros eventos</h1>
<div (mouseover)="toggleButton()">Mouse Over</div>
  <!--Event Binding: evento de scroll-->
  <br>
  <h3> Event Binding: evento de scroll</h3>
  <div class="box" (scroll)="onScroll($event)"> <!--$event es el evento, se envia asi cuando es del DOM-->
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet minus nisi culpa modi! Perspiciatis iste suscipit facere assumenda corrupti, fugit accusantium fuga, id ea quam unde sequi dolorem, natus minus.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet minus nisi culpa modi! Perspiciatis iste suscipit facere assumenda corrupti, fugit accusantium fuga, id ea quam unde sequi dolorem, natus minus.
    </p>
  </div>

<!--Event Binding: Eventos de un input-->
<br>
<h3> Event Binding: Eventos de un input (keyup)</h3>
<input type="text" (keyup)="changeName($event)">
<input type="text" [value]="person.name">


<!--Data binding con ngModel-->
<hr><br>
<h1> Data binding con ngModel [(ngModel)], bidireccional</h1>
<p>Nombre: {{person.name}}</p>
<input type="text" [(ngModel)]="person.name" #nameInput="ngModel" required> <!--ngModel es un directiva de Angular bidireccional-->
<p>Valid: {{ nameInput.valid }}</p>
<br>
<p>Edad: {{person.age}}</p>
<input type="number" [(ngModel)]="person.age" #ageInput="ngModel" required max="30" min="8"> <!--ngModel es un directiva de Angular bidireccional-->
<p>Valid: {{ ageInput.valid }}</p>