<h1> Hola mundo </h1>
<h2>{{ 'Hola Mundo  '.repeat(5) }}</h2>
<p> 3+3 = {{ 3+3 }}</p>
<p> Hola soy {{ name }} y tengo {{age}} años. Estas están declaras como Public en
  el archivo app.component.ts
</p>

<!--IMAGEN desde component.ts (string interpolation) -->
<img src="{{ image }}" alt="image" width="200">

<!--Property Binding: configurar propiedades de HTML-->
<hr><br>
<h1> Property Binding </h1>
<button disabled="false">Boton</button>
<button [disabled]="btnDisabled">Boton 2</button>
<br>
<input type="text" [value]="name"> <!--Property Binding de la variable name-->
<br>
<progress value="80" max="100"></progress>
<progress [value]="age" max="100"></progress>
<br>
<img [src]="image" alt="image" width="200">
    <!--Renderizar un objeto desde component.ts-->
    <hr><br>
    <p>Hola soy {{person.name}} </p>
    <input type="text" [value]="person.name">

<!--Event Binding-->
<hr><br>
<h1> Event Binding </h1>
<button (click)="toggleButton()">Toggle</button>
<button [disabled]="btnDisabled">Boton 2</button>
<br>
<p>Edad {{person.age}}</p> <br>
<progress [value]="person.age" max="100"></progress>
<button (click)="cumpleanhos()">Cumpleaños</button>

<!--Event Binding: otros eventos-->
<hr><br>
<h1> Event Binding: otros eventos</h1>
<div (mouseover)="toggleButton()">Mouse Over</div>
  <!--Event Binding: evento de scroll-->
  <br>
  <h3> Event Binding: evento de scroll</h3>
  <div class="box" (scroll)="onScroll($event)"> <!--$event es el evento, se envia asi cuando es del DOM-->
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet minus nisi culpa modi! Perspiciatis iste suscipit facere assumenda corrupti, fugit accusantium fuga, id ea quam unde sequi dolorem, natus minus.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet minus nisi culpa modi! Perspiciatis iste suscipit facere assumenda corrupti, fugit accusantium fuga, id ea quam unde sequi dolorem, natus minus.
    </p>
  </div>

<!--Event Binding: Eventos de un input-->
<br>
<h3> Event Binding: Eventos de un input (keyup)</h3>
<input type="text" (keyup)="changeName($event)">
<input type="text" [value]="person.name">


<!--Data binding con ngModel-->
<hr><br>
<h1> Data binding con ngModel [(ngModel)], bidireccional</h1>
<p>Nombre: {{person.name}}</p>
<input type="text" [(ngModel)]="person.name" #nameInput="ngModel" required> <!--ngModel es un directiva de Angular bidireccional-->
<p>Valid: {{ nameInput.valid }}</p>
<br>
<p>Edad: {{person.age}}</p>
<input type="number" [(ngModel)]="person.age" #ageInput="ngModel" required max="30" min="8"> <!--ngModel es un directiva de Angular bidireccional-->
<p>Valid: {{ ageInput.valid }}</p>

<!--Directiva ngIf-->
<hr><br>
<h1> Directiva ngIf </h1>
<button (click)="toggleButton()">Toggle</button>
<button [disabled]="btnDisabled">Boton 2</button>
<br>
<p *ngIf="btnDisabled">Boton deshabilitado</p>
<p *ngIf="!btnDisabled">Boton habilitado</p>

<div *ngIf="btnDisabled; else templateElse">Hola, btnDisabled is TRUE</div>
<ng-template #templateElse>
    <div>btnDisabled is FALSE</div>
</ng-template>

<!--Directiva ngFor-->
<hr><br>
<h1> Directiva ngFor </h1>
<ul>
    <li >
        <span>Index</span> -
        <span>Item</span> -
        <span>Even</span> -
        <span>Odd</span> -
        <span>First</span> -
        <span>Last</span>
    </li>
    <li *ngIf = "items.length === 0">No hay items</li>
    <li *ngFor="let item of items; let i = index; let e = even; let o = odd; let f = first; let l = last">
        {{i}} - {{item}} - {{e}} - {{o}} - {{f}} - {{l}}
        <button (click)="deleteItem(i)">Delete</button>
    </li>
</ul>
<input type="text" [(ngModel)]="newItem">
<button (click)="addItem()">Add Item</button>

<!--Directiva ngFor para Arrays-->
<hr><br>
<h1> Directiva ngFor para Arrays </h1>
<div>
    <div *ngFor="let obj of products; let i = index">
        {{i}} - {{obj.name}} - {{obj.price}} - {{obj.description}}
        <img [src]="obj.image" alt="image" width="100">
    </div>
</div>

<!--Directiva ngSwitch-->
<hr><br>
<h1> Directiva ngSwitch </h1>
<input type="text" [(ngModel)]="color">
<button (click)="changeColor($event)">Change Color</button>
<div [ngSwitch]="color">
    <div *ngSwitchCase="'red'">You picked red color</div>
    <div *ngSwitchCase="'blue'">You picked blue color</div>
    <div *ngSwitchCase="'green'">You picked green color</div>
    <div *ngSwitchDefault>Pick again</div>
</div>