<app-nav></app-nav>

<!--CONTENEDOR DE PÁGINA FILES-->
<div class="container">
  <div class="html-download">
    <a href="../../../assets/files/texto1.txt" download>Descargar txt</a>
  </div>
  <div class="pdf-download">
    <a (click)="descargarPDF()" download>Descargar PDF</a>
  </div>
  <div class="file-upload">
    <p>Seleccione un imagen</p>
    <input class="file-upload-button" type="file" (change)="cargarArchivo($event)">
  </div>
  <div class="img-file">
    <img *ngIf="file" [src]="file" alt="">
  </div>
</div>
