<div class="profile-container">
  <div class="profile-details" *ngIf="user">
    <img class="profile-image" src="./assets/images/profiles.png" alt="Profile Icon">
    <p class="name">Nombre: {{user.name}}</p>
    <p class="email">Email: {{user.email}}</p>
    <p class="role">Role: {{user.role || 'customer'}}</p>
  </div>
  <div class="profile-admin" *ngIf="user?.role==='admin'">
    <p class="cms-access"> Acceder al CMS de administrador</p>
    <a routerLink="/cms" class="admin-link">Admin</a>
  </div>
</div>
